/* p{
  color:#000;
}
.learn{
  font-family: korolev-condensed, sans-serif;
font-weight: 700;
font-style: normal;
margin:0 auto;
padding-top:70px;
letter-spacing: .07em;
}
.learn h2{
  font-family: korolev-rounded,sans-serif;
font-weight: 700;
font-style: normal;
  margin-top: 30px;
  line-height: 30px;
  font-size:24px;
  text-align: justify;
}
.learn p{
  font-family: korolev, sans-serif;

font-weight: 300;

font-style: italic;
line-height: 21px;
text-align:justify;
font-size:14px;

}
.learn-p{
  margin-top:30px;
} */